.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  cursor: pointer;
}
.nav-link {
  width: 100px;
  padding: 10px 10px;
  text-align: center;
  transition: 0.5s all ease;
}
.logo {
  width: 150px;
  object-fit: contain;
}
.navbar-right {
  display: flex;
  width: fit-content;
  gap: 40px;
  align-items: center;
}
.icon {
  width: 18px;
  object-fit: contain;
}
.navbar button {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 50px;
  border: 1px solid tomato;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.8sec;
}
.navbar button:hover {
  background-color: #fff4f2;
}
.active {
  background-color: #f6ddd9;
  padding: 10px 10px;
  border-radius: 10px;
}

.basket-con {
  position: relative;
}
.dot {
  width: 18px;
  height: 18px;
  background-color: tomato;
  border-radius: 10px;
  position: absolute;
  top: -14px;
  right: -14px;
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.heading {
  color: tomato;
}
.activecart {
  background-color: #f6ddd9;
  width: fit-content;
  border-radius: 50px;
  padding: 10px;
}
