.heading {
  color: tomato;
}

.icons-con {
  display: flex;
  width: fit-content;
  padding: 10px 12px;
  gap: 15px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.copy-right {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
}
hr {
  background-color: #e2e2e2;
  border: none;
  height: 2px;
  width: 100%;
  margin-top: 10px 0px;
}
.footer-con {
  color: white;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 6vw;
  gap: 20px;
  margin-top: 20px;
}
.footer-left,
.footer-right,
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footer-center li,
.footer-left li,
.footer-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer-center h2,
.footer-right h2 {
  font-size: 20px;
  color: tomato;
}
